<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor de la cámara y la niebla -->
  <div class="camera-container">
    <!-- Esta capa de niebla se mostrará solo cuando la cámara esté activa -->
    <div *ngIf="isCameraActive" class="fog-layer"></div>


    <!-- Botón para agregar foto con calidad 100 -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Botón para agregar foto con calidad 50 -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery50()">
        <ion-icon name="aperture"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
